#!/bin/sh

set -e

conffile=/etc/golang/goinstall.conf

. /usr/share/debconf/confmodule

if [ -f $conffile ] ; then
    if grep -q DASHBOARD $conffile; then
        :;
    fi
    . $conffile
    if [ "$DASHBOARD" = "yes" ] ; then
        DASHBOARD=true
    else
        DASHBOARD=false
    fi
    db_set golang-go/dashboard "$DASHBOARD"
fi

db_input high golang-go/dashboard || [ $? -eq 30 ]
db_go || true
