# Exclude this file, it's too confusing for lrc. :-)
debian/lrc.config

# There are some license files in some subdirectories,
# exclude those from scanning with lrc.
LICENSE

# This license is BSD-3-Clause with views sentence,
# therefore needing a custom name. We define an alias.
BSD-3-Clause-svgpan | BSD-3-clause

# BSD-3-clause detected instead of Go license
src/cmd/go/testdata/vcstest/git/vgotest1.txt
src/cmd/go/testdata/vcstest/hg/vgotest1.txt

# Expat detected instead of Go license
src/cmd/internal/obj/riscv/obj.go

# BSD-1-Clause detected instead of Go license
src/crypto/internal/fips140/edwards25519/scalar.go

# GPL detected instead of Go license
src/hash/crc32/crc32_ppc64le.s
src/hash/crc32/gen_const_ppc64le.go

# Public domain detected instead of Go license
src/crypto/internal/fips140/aes/aes_generic.go

# The following files are dual licensed under
# OpenSSL (which lrc detects) and Go.
src/crypto/internal/fips140/aes/aes_ppc64x.s
src/crypto/internal/fips140/aes/gcm/gcm_ppc64x.s
src/crypto/internal/fips140/sha256/sha256block_ppc64x.s
src/crypto/internal/fips140/sha512/sha512block_ppc64x.s
src/vendor/golang.org/x/crypto/chacha20/chacha_ppc64x.s
